:root {
  --secondary-color: #6c63ff;
  --domain-color: #f9f7fe;
  --default-font: "Poppins", sans-serif;
  --header-font: "Playfair Display", serif;
}
body {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
}

h1 {
  font-family: var(--header-font);
  font-weight: 700;
  font-size: 96px;
}
h2 {
  font-family: var(--default-font);
  font-weight: 700;
  font-size: 36px;
}
h3 {
  font-weight: 700;
  font-size: 24px;
}
h4 {
  font-size: 48px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
ul {
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
li {
  display: inline;
  margin-left: 15px;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #272142;
}

nav a:hover {
  cursor: pointer;
  color: var(--secondary-color);
  transition: 200ms ease-in-out;
}
footer {
  text-align: center;
  margin: 70px ;
}
.active {
  color: var(--secondary-color);
}

.sub-heading {
  font-weight: 700;
  font-size: 18px;
}
.hero p {
  font-size: 24px;
  font-weight: 400;
}
.hero {
  text-align: center;
  background: var(--domain-color);
  padding: 120px 20px;
}

.btn-secondary {
  background: var(--secondary-color);
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 18px;
}
.btn-secondary:hover {
  cursor: pointer;
  color: black;
  transition: ease-in-out;
}
.secondary-header {
  font-family: var(--header-font);
  font-weight: 700;
  font-size: 64px;
}
.secondary-link a {
  font-weight: 500;
  font-size: 16px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 15px 20px;
  border-radius: 4px;
  text-decoration: none;
}

.project-description {
  padding: 120px 60px;
}
.top-paragraph {
  font-size: 18px;
}
.content-container {
  padding: 160px 20px;
}
.content-container h1 {
  font-size: 64px;
}
.content {
  margin: 30px;
}
.logo {
  max-height: 40px;
}
footer .social-links{
  font-size: 18px;

}
footer .social-links a {
  margin: 0px 10px 20px;
  padding: 20px ;
  border-radius: 30px;
  color: var(--secondary-color);
  background-color: var(--domain-color);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
footer .social-links a:hover {
  background-color: var(--secondary-color);
  color: white;
}

footer .email-link a {
  color: #000;
  font-size: 24px;
  text-decoration: none;
}
footer .email-link a:hover {
  color: var(--secondary-color);
}
.work-inquiry {
  padding: 25px 120px;
  background-color: var(--domain-color);
  border-radius: 8px;
}

@media (max-width: 925px) {
  .project-description {
    padding: 0;
  }
  p {
    text-align: center;
  }
  .secondary-link {
    text-align: center;
  }
  .secondary-header {
    text-align: center;
    font-size: 44px;
  }
  .hero {
    padding: 80px 0;
  }
  h1 {
    font-size: 80px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .my-image {
    margin-top: 30px;
    width: 100%;
  }
}
